.logo-container {
  z-index: 0;
  width: 600px;
  height: 600px;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0%;
  bottom: 0;
  left: auto;
  margin: 20px;
  margin-top: 100px;
  margin-right: 100px;
  animation: zoomInDown 2.5s ease-in-out 1s;
  user-select: none;



  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    border-radius: 40px;
    margin: auto;
    width: 100%;
    opacity: 1;
    transform: rotateZ(0deg) !important;
    z-index: 1;
  }
}
